<!--
<ng-include src="'home/devStats.html'"></ng-include>
-->
<link rel="stylesheet" href="home/home.css">

<ui-gmap-google-map 
	center="map.center" 
	zoom="map.zoom"
	events="map.events">
		<ui-gmap-markers 
			models="map.markers"
			coords="'coordinates'"
			idkey="'id'"
		></ui-gmap-markers>
</ui-gmap-google-map>

<br>
<br>
<!--
<button ng-click="testGetBar()" id="getBarButton" type="button">test getBar()</button>
<div class="markerInfo">{{getBarOutput}}</div>
<br>
-->
<div class="closeBarInfoButton" ngShow="barInfo.show" ng-click="closeBarInfo()">x&nbsp&nbsp&nbspclose</div>
<div class="barInfo" ngShow="barInfo.show">
<h4>{{barInfo.name}}</h4>
{{barInfo.coordinates.latitude}} N, {{barInfo.coordinates.longitude}} W
<br><br>
{{barInfo.description}}
</div>